@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
  --theme-foreground: #fff;
  --theme-foreground-focus: #3b5fc0;
  --theme-background-a: #000;
}
body {
  font-family: var(--serif) !important;
}

#observablehq-sidebar {
    --theme-foreground-focus: white !important;
}